
*,
::after,
::before{
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Spartan', sans-serif;
  width: 100%;
  min-height: 100vh;
}

.container{
  width: 80%;
  margin: 0 auto;
  padding: 1rem;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

